h1{
    color: white;
    background-color: #0033a0;
    text-align: center;
    padding: 10px;
    border : 2px solid black;
}
a{
    color : #0033a0;
}
a:hover{
    color : #000000;
    text-decoration: none;
}
*{
    font-family: 'times new roman', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}
html {
    background: linear-gradient(white, #0033a0);
}
