/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: 'Times New Roman', serif;
    max-width: 800px; /* Set a maximum width for responsiveness */
    margin: auto;
}

/* Navigation Styling */
nav {
    color: white;
    background-color: #0033a0;
    text-align: center;
    padding: 10px;
    border: 2px solid black;
}

/* Headings Styling */
h1, h2, h3, h4 {
    margin: auto;
    color: white;
    background-color: #0033a0;
    font-size: 2em;
    border: 2px solid black;
    text-align: center;
    padding: 2px;
}

/* List Styling */
ul {
    text-align: center;
    padding: 2px;
}

li {
    color: black;
    text-align: center;
    padding: 2px;
}

/* Anchor Links */
a {
    color: #0033a0;
}

a:hover {
    color: #000000;
    text-decoration: none;
}

a:focus {
    outline: 2px dashed #0033a0;
    outline-offset: 4px;
}